body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
    left:50%;
    position: fixed;
    width: 40%;

}
.road{
  background-image: url("../images/road.png");
  background-repeat: repeat-y;
  height: 100%;
  width: 600px;
  background-size: cover;
}

.car{
  position: fixed;
  top: 88.5%;
  width: 5%;
}

.obstacle{
  height: 40px;
  background-color: brown;
  /* width: 180px; */
  position: absolute;
  left:0;
  top:-100px;
}